*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
body{
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #888888;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #888888;
}