.btn{
  display: inline-block;
  background-color: rgb(234,88,81);
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(214, 81, 81);
}