.footer{
  background-image: url(../../img/footer-bg-run.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  height: 800px;
  &__foot{
    padding-top: 250px;
    margin-left: 600px;
    color: #fff;
  }
  &__title{
    width: 300px;
    padding-bottom: 40px;
  }
  &__footer-text{
    width: 500px;
    font-size: 16px;
    padding-left: 50px;
    margin-bottom: 50px;
    border-left: 3px solid #fff;
  }
}