.hero{
  background-image: url(../../img/wristwatch.jpg);
  background-repeat: no-repeat;
  background-position-x: calc(50% + 700px);
  background-size: contain;
  height: 614px;
  border-bottom: 1px solid #888;
  &__hero-title{
    padding-top: 120px;
    color: #000;
  }
  &__hero-text{
    width: 500px;
    font-size: 16px;
    padding-left: 50px;
    margin-bottom: 50px;
    border-left: 3px solid #888;
  }
}